@import 'colors';
@import 'media-queries';




#footer{
    background:#333;
    
    h1{
        font-size: 2rem;
        margin:0;
        padding:2rem 0;
        text-align: center;
        color:white;
        
        span{
            color:$hover-color;
        }
    }
    .brand{
        text-align: center;
        margin-top:2rem;
    
        a{
            
                img{
                    height: 4rem;

                }
        }   
        




        .icons{
            a{
                font-size:2rem;
                margin:2rem 1rem;
                color:white;
                text-decoration: none;
                &:hover{
                    color:$hover-color;
                    transform: scale(1.5);
                }
            }
        }
    }

    .footer-link{
        text-align: center;
        display: flex;
        flex-flow: column;
        margin:1rem 0;
        h3{
            font-family: sans-serif;
            font-size:2.1rem;
            color:$hover-color;

        }





        a{
            color:white;
            font-size:1.7rem;
            text-decoration: none;
        }
    }
    .letter{
        h2{ 
            font-size: 2rem;
            margin:2rem 0;
            color:white;
        }
        input[type="text"]{
            border:.2rem solid white;
            outline: none;
            background: none;
            height:4rem;
            width: 22rem;
            padding:0 1rem;
            font-size: 1.3rem;
            color: white;
        }
        input[type="submit"]{
            
            @include button();
            border-radius: 5px;
            height: 3rem;
            width: 11rem;
            margin:1rem 0;
            background:$hover-color;
            color:white;
            &:hover{
                color: $hover-color;
                background:white;
            }
        }
    }
} 